<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Personal Website" />
    <meta name="author" content="Julian Andres Klode" />

    <title>{{ .Title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ .Site.BaseURL }}/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="{{ .Site.BaseURL }}/local.css" rel="stylesheet" />
    <link href="{{ .Site.BaseURL }}/fontawesome-5.4.1/css/all.min.css" rel="stylesheet" />

  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ .Site.BaseURL }}/">{{ .Site.Title }} </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
		   {{ $currentPage := . }}
		   {{ range .Site.Menus.main }}
					<li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
						<a href="{{ .URL }}"{{ with .Params.rel }} rel="{{ . }}"{{ end }}>
							{{ .Pre | safeHTML }}
							<span>{{ .Name }}</span>
						</a>
						{{ .Post }}
					</li>

			{{ end }}


          </ul>
          <ul class="nav navbar-nav navbar-right">
		   {{ range .Site.Menus.right }}
					<li>
                        <a href="{{ .URL }}"{{ with .Params.rel }} rel="{{ . }}"{{ end }}>
							{{ .Pre }}
							<span>{{ .Name }}</span>
							{{ .Post }}
						</a>
					</li>

			{{ end }}


<!--            <TMPL_LOOP BOOTMENU>
                <TMPL_IF FIRSTNAV>
                <TMPL_ELSE>
                    <li <TMPL_IF ACTIVE>class="active"</TMPL_IF>><a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a></li>
                </TMPL_IF>
            </TMPL_LOOP>-->
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">


          <header class="page-header">
            <h1>{{ .Title }}</h1>
          </header>

            {{ .Content }}

    </div> <!-- /container -->

    <footer class="footer">
      <div class="container">
        <p class="text-muted">
                Copyright © 2007-2018 Julian Andres Klode - License: <a href="http://jak-linux.org/copyright">Creative Commons 4.0 BY-SA (content) / MIT&amp;Apache2.0 (theme)</a>
                <span class="pull-right">Powered by <a href="http://gohugo.io/">Hugo</a> -
                <a href="https://validator.w3.org/check?uri=referer">Valid (X)HTML 5</a></span>
            </p>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ .Site.BaseURL }}/jquery.min.js"></script>
    <script src="{{ .Site.BaseURL }}/bootstrap.min.js"></script>

  </body>
</html>
